/** @format */

.selectList {
	background: linear-gradient(55deg, #0858a2, #031635, rgb(13, 38, 135));
	color: #ffffff;
	text-align: center;
	cursor: pointer;
	border: double 0.5vh #d1fffd;
	border-radius: 0.5vh;
}
.selectList:hover {
	border: dashed 0.2vh #d1fffd;
	background: linear-gradient(95deg, #063f3b, #189a94);
	transform: scale(1.01);
}
.selectList option {
	background-color: #90f6f1;
	color: #000c1e;
}
.selectList option:nth-child(odd) {
	color: #ffffff;
	background-color: rgba(13, 117, 135, 0.756);
	border-end-end-radius: 22vh;
}
