/** @format */
.drawer {
  background-color: #0099a8;
  border-right: dashed #6ad5de 0.1vh;
  position: fixed;
  border-radius: 5px;
}
.item {
  border-radius: 5px;
  background: linear-gradient(225deg, #f2feff, #effeff, #f3feff);
  width: 98%;
}
.menuBars {
  margin-right: 25%;
  width: 5vh;
  height: 5vh;
  rotate: 180deg;
}
.headerLogo{
  width: 80%;
  margin: 10%;
  height: 10vh;
}
.iconBox {
  margin: 4vh 0;
  border-bottom: 1px solid rgb(194, 243, 239);
  border-bottom: 1px solid rgb(220, 231, 231);
}
.iconRow{
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  justify-content: space-around;
  color: #025057;

}
.icon {
  border-radius: .5vh;
  padding: .3vh;
  width: 5vh;
  height: 5vh;
}
.iconBox:first-child {
  margin: 0;
}
.iconBox:hover {
  transform: scale(.95);
  cursor: pointer;
  transition: all 0.5s;
  border-right: 1px solid rgb(17, 118, 155);
}
.iconName {
  font-size: 2vh;
}
@media (max-width: 777px) {
  .icon {
    font-size: 3vh;
  }
}
