.headerContainer {
    position: absolute;
    top: 5px;
    left: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .headerLogo {
    width: 14vw;
    height: 12vh;
    margin-right: 90px;
  }