.formHeader {
    background: #82d6de;
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--primary-text-color-blue);
    border: 1px solid var(--primary-text-color-blue);
    box-shadow: 1px 1px 4px rgba(0, 79, 87, 0.4);
    font-size: 20px;
    display: flex;
    justify-content: center;
    min-width: 150px;
  }
  